In [1]:
import pandas as pd
import numpy as np

## <font color=black>Leitura de Dados</font>

In [2]:
# Read all files 
country = pd.read_csv('Country_Original.csv')
league = pd.read_csv('League_Original.csv')
match = pd.read_csv('Match_Original.csv')
player = pd.read_csv('Player_Original.csv')
player_attributes = pd.read_csv('Player_Attributes_Original.csv')
team = pd.read_csv('Team_Original.csv')
team_attributes = pd.read_csv('Team_Attributes_Original.csv')

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

## <font color=black>Organização e Limpeza de Dados</font> 

Pretendemos nesta secção do trabalho reduzir e tratar os dados de forma a que não exista informação irrelevante para o modelo que pretendemos construir.

### <font color=black> - Eliminação de Valores Nulos</font>

In [3]:
# Eliminar atributos relativos à posição dos jogadores
player_attributes.drop(player_attributes.columns.to_series()["potential":], axis=1, inplace = True)

In [4]:
# Eliminar duplicados caso existam
player_attributes.drop_duplicates(keep = False, inplace = True)

In [5]:
# Verficar se existe overall_ratings null
player_attributes.dropna(axis=0, how="any", subset =['overall_rating'], inplace=True)
player_attributes['overall_rating'].isnull().sum()

0

In [6]:
# Eliminar atributos relativos à posição dos jogadores
match.drop(match.columns.to_series()["home_player_X1":"away_player_Y11"], axis=1, inplace = True)
# Eliminar os seguintes atributos -> shoton, shotoff, foulcommit, card, cross, corner, possession
match.drop(match.columns.to_series()["goal":"possession"], axis=1,inplace = True)

In [7]:
#Organizar dados por datas, do passado para o presente
match['date'] = match['date'].astype('datetime64[ns]')
match = match.sort_values(by=['date'], ascending=True)

In [8]:
#Eliminar todos as linhas que não tenham nenhuma info sobre os jogadores
match = match.dropna(axis=0, how="all", subset=match.columns.to_series()["home_player_1":"away_player_11"])

In [9]:
#Eliminar todas as linhas que não tenham nenhuma odd relativa ao jogo
match.dropna(axis=0, how="all", subset=match.columns.to_series()["B365H":], inplace=True)

In [10]:
#Eliminar partidas em que não são conhecidos pelo menos 8 jogadores que jogaram (para a Equipa da Casa)
match = match.dropna(axis=0, thresh=8, subset=match.columns.to_series()["home_player_1":"home_player_11"])
#Verificação
match.loc[match.loc[:,'home_player_1':'home_player_11'].count(axis=1) < 8]

Empty DataFrame
Columns: [id, country_id, league_id, season, stage, date, match_api_id, home_team_api_id, away_team_api_id, home_team_goal, away_team_goal, home_player_1, home_player_2, home_player_3, home_player_4, home_player_5, home_player_6, home_player_7, home_player_8, home_player_9, home_player_10, home_player_11, away_player_1, away_player_2, away_player_3, away_player_4, away_player_5, away_player_6, away_player_7, away_player_8, away_player_9, away_player_10, away_player_11, B365H, B365D, B365A, BWH, BWD, BWA, IWH, IWD, IWA, LBH, LBD, LBA, PSH, PSD, PSA, WHH, WHD, WHA, SJH, SJD, SJA, VCH, VCD, VCA, GBH, GBD, GBA, BSH, BSD, BSA]
Index: []

In [11]:
#Eliminar partidas em que não são conhecidos pelo menos 8 jogadores que jogaram (para a Equipa de Fora)
match = match.dropna(axis=0, thresh=8, subset=match.columns.to_series()["away_player_1":"away_player_11"])
#Verificação
match.loc[match.loc[:,'away_player_1':'away_player_11'].count(axis=1) < 8]

Empty DataFrame
Columns: [id, country_id, league_id, season, stage, date, match_api_id, home_team_api_id, away_team_api_id, home_team_goal, away_team_goal, home_player_1, home_player_2, home_player_3, home_player_4, home_player_5, home_player_6, home_player_7, home_player_8, home_player_9, home_player_10, home_player_11, away_player_1, away_player_2, away_player_3, away_player_4, away_player_5, away_player_6, away_player_7, away_player_8, away_player_9, away_player_10, away_player_11, B365H, B365D, B365A, BWH, BWD, BWA, IWH, IWD, IWA, LBH, LBD, LBA, PSH, PSD, PSA, WHH, WHD, WHA, SJH, SJD, SJA, VCH, VCD, VCA, GBH, GBD, GBA, BSH, BSD, BSA]
Index: []

### <font color=black> - Substituição de Valores Nulos </font>

In [12]:
#Passar o formato dos atributos 'date' para formato de tempo
match['date'] = match['date'].astype('datetime64[ns]') 
player_attributes['date'] = player_attributes['date'].astype('datetime64[ns]')

In [13]:
#Cópia do dataframe original
match_copy_test=  match.copy()

match_copy_test = match_copy_test.head(100)


for i in range(1,12):
    for index, row in match_copy_test.iterrows():
        
        if(row["home_player_"+"%s" % i] == np.nan):
            continue
        if(row["away_player_"+"%s" % i]== np.nan):
            continue
        try:    
            player_skill_home = player_attributes.loc[player_attributes['player_api_id'] == row["home_player_"+"%s" % i]]
            date_season_home = player_skill_home.loc[player_skill_home['date'] <= row['date']]

            recent_date_home = date_season_home.loc[[date_season_home.date.idxmax()]]
            match_copy_test.at[row['id']-1,'home_player_'+'%s' % i] = recent_date_home['overall_rating']

            player_skill_away = player_attributes.loc[player_attributes['player_api_id'] == row["away_player_"+"%s" % i]]
            date_season_away = player_skill_away.loc[player_skill_away['date'] <= row['date']]

            recent_date_away = date_season_away.loc[[date_season_away.date.idxmax()]]
            match_copy_test.at[row['id']-1,'away_player_'+'%s' % i] = recent_date_away['overall_rating'].tolist()[0]
            
            #print(row['id']-1,"-------",recent_date_away['player_api_id'].tolist()[0] ,recent_date_away['overall_rating'].tolist()[0])
                
        except ValueError:
            pass
  
    
    
#Put away players rating in match    
#for i in range(1,12):
    #result_away = pd.merge(match, player_attributes[['player_api_id','overall_rating']], left_on="away_player_"+"%s" % i, right_on='player_api_id', how='left')
    #match["away_player_"+"%s" % i] = result_away["overall_rating"]

In [14]:
# Dada uma lista de timeStamps, retorna o valor mais baixo!

def getTimeStampsMinValue(df):
    aux = df.tolist()[0]
    for i in range (0, df.size):
        if(aux > df.tolist()[i]):
            aux = df.tolist()[i]
    return aux;

In [15]:
# Dada uma lista de todas as datas, escolhe-se a data mais recente, da perspetiva da data do jogo
# isto é, escolhe-se a data mais recente, sendo que esta tem de ser menor ou igual da data do jogo

def getMostRecentMatchDate(dates, dates_length, match_date):
    aux_date = getTimeStampsMinValue(dates)
    for i in range(0,dates_length):
        if dates.tolist()[i] <= match_date:
            if dates.tolist()[i] > aux_date:
                aux_date = dates.tolist()[i]
    return aux_date

In [16]:
print(match.iloc[0]["date"])

2008-08-09 00:00:00

In [17]:
# Dada a data mais recente, vai-se buscar o respetivo "overall_rating" do jogador que se atribuir (Fora)
def getMostRecentOverallFromAwayPlayer(index, player_number):
    if pd.isna(match.iloc[index]["away_player_" + "%s" % player_number]):
            return 
    new = player_attributes["player_api_id"].isin([match.iloc[index]["away_player_" + "%s" % player_number]])
    dates_length = player_attributes[new]["date"].size
    ai = getMostRecentMatchDate(player_attributes[new]["date"], dates_length, match.iloc[index]["date"])
    player_attributes[new].loc[player_attributes["date"] == ai]
    overall_rating = player_attributes[new].loc[player_attributes["date"] == ai]["overall_rating"].tolist()[0]
    return overall_rating

In [18]:
# Dada a data mais recente, vai-se buscar o respetivo "overall_rating" do jogador que se atribuir (Casa)
def getMostRecentOverallFromHomePlayer(index, player_number):
    if pd.isna(match.iloc[index]["home_player_" + "%s" % player_number]):
            return 
    new = player_attributes["player_api_id"].isin([match.iloc[index]["home_player_" + "%s" % player_number]])
    dates_length = player_attributes[new]["date"].size
    ai = getMostRecentMatchDate(player_attributes[new]["date"], dates_length, match.iloc[index]["date"])
    player_attributes[new].loc[player_attributes["date"] == ai]
    overall_rating = player_attributes[new].loc[player_attributes["date"] == ai]["overall_rating"].tolist()[0]
    return overall_rating

In [19]:
# Dada uma lista com todas as ratings de uma equipa, para um jogo, calcula-se a media, ignorando os null values
def calculateAverageOverallRating(teamRatings):
    numberOfValidArguments = 0
    totalSum = 0
    for i in range(0,len(teamRatings)):
        if pd.isna(teamRatings[i]):
             continue
        else:
            numberOfValidArguments += 1
            totalSum += teamRatings[i]    
    return round(totalSum/numberOfValidArguments, 1)

In [21]:
def generateDataframeWithAverageOveralls():
    newListBig = []
    match_depth = match.shape[0]
    for index in range (0, 100):
    #for index in range (0, match_depth):
        newListHome = []
        newListAway = []
        for i in range(1,12):
                newListHome.append(getMostRecentOverallFromHomePlayer(index,i))
                newListAway.append(getMostRecentOverallFromAwayPlayer(index,i))

        newListBig.append([match.id.tolist()[index],calculateAverageOverallRating(newListHome) ,calculateAverageOverallRating(newListAway)])


    new_dataset = pd.DataFrame(newListBig, columns =[ "match_id","home_overall","away_overall"])
    display(new_dataset)

In [23]:
generateDataframeWithAverageOveralls()

    match_id  home_overall  away_overall
0      19694          62.2          71.6
1       4775          69.8          72.5
2      19695          67.8          66.0
3       4778          69.7          74.7
4       4777          69.5          65.1
5       4776          70.0          77.3
6       4774          67.9          73.4
7       4769          70.0          69.2
8       4772          70.4          67.2
9      19697          66.0          65.2
10      4770          74.5          69.5
11      4771          64.9          68.8
12     19696          64.7          65.8
13      4773          78.8          70.4
14     19698          80.5          61.8
15     19699          62.8          63.5
16      7809          80.5          75.6
17      1737          68.3          74.9
18      7810          74.4          73.0
19      4884          67.9          68.7
20      4885          69.3          70.6
21      4886          73.4          73.3
22      4887          74.5          69.5
23      4888          70.9          65.9
24      7817          69.7          72.7
25      7815          69.0          65.6
26      7814          70.5          77.4
27      7812          73.1          72.2
28      7811          76.5          77.3
29     19765          61.5          65.8
30      4881          71.0          69.7
31     19763          66.6          62.2
32      1735          73.9          79.1
33      1734          76.9          77.6
34      1732          76.8          73.3
35      1731          73.7          79.9
36      1730          78.0          71.2
37     19764          63.7          62.8
38      4879          70.5          69.6
39      1736          75.1          67.3
40     19760          72.1          66.6
41     19762          65.3          66.2
42      1738          84.3          77.5
43      1729          82.5          75.3
44      7816          69.6          78.3
45      1733          77.7          71.4
46      7813          70.5          73.3
47     19761          63.7          81.0
48      4882          67.3          80.1
49      4883          76.5          70.1
50      4880          65.4          69.7
51      7915          77.0          66.5
52     17644          65.2          66.1
53      4998          70.5          68.3
54      7908          76.7          68.9
55      7909          70.5          80.3
56      7910          78.3          74.4
57      7911          77.0          76.4
58      7912          72.7          70.5
59      1839          80.5          72.9
60      7916          64.3          68.6
61      1840          79.6          71.6
62      1843          77.6          68.0
63      1844          73.7          80.3
64      1845          71.3          76.5
65      4995          70.5          71.4
66     19831          62.8          66.6
67     19830          66.6          73.4
68     19829          65.8          62.8
69     19828          66.6          62.6
70     19827          65.6          63.4
71      4997          70.4          73.4
72     19826          79.1          62.2
73      1847          69.8          77.7
74      4994          68.9          69.2
75      1841          75.3          75.1
76      4991          66.3          77.3
77      4992          70.8          75.4
78      4993          80.1          65.4
79      1842          75.1          76.8
80     17648          62.4          65.5
81      1848          72.4          84.7
82     17647          58.6          75.4
83     17646          62.8          64.7
84      4996          71.4          72.7
85      4989          70.1          68.5
86      7914          73.0          73.8
87      4990          73.8          66.9
88      7913          70.5          69.2
89      1846          76.5          82.7
90      8015          69.7          70.5
91     13274          65.8          67.8
92      5096          67.5          70.8
93      1950          82.5          76.2
94      1952          76.7          76.6
95     13275          66.9          67.8
96      1955          74.6          69.9
97     13278          66.7          73.2
98      1954          78.4          76.8
99     19891          61.5          65.5

In [ ]:
#new_dataset.to_csv("OverallAverages.csv", index=False)

In [24]:
print(match.shape[0])

22055

In [25]:
def analyseHomePlayer(row, number, index):
    new = player["player_api_id"].isin([row["home_player_"+"%s" % number]])
    new2 = player_attributes["player_api_id"].isin(
        [row["home_player_"+"%s" % number]])

    return player_attributes[new2]['overall_rating'].tolist()[index]

def analyseAwayPlayer(row, number, index):
    new = player["player_api_id"].isin([row["away_player_"+"%s" % number]])
    new2 = player_attributes["player_api_id"].isin(
        [row["away_player_"+"%s" % number]])

    return player_attributes[new2]['overall_rating'].tolist()[index]


def analyseHomePlayers(row, index):
    sum = 0
    for i in range(1, 12):
       sum += analyseHomePlayer(row, i, index)
    return sum


def analyseAwayPlayers(row):
    sum = 0
    for i in range(1, 12):
        sum += analyseAwayPlayer(row, i, index)
    return sum

In [26]:
def analyseHomePlayersHeight(row):
    sum = 0
    for i in range(1, 12):
       new = player["player_api_id"].isin([row["home_player_"+"%s" % i]])
       sum += player[new]["height"].tolist()[0]
    return round(sum/11, 1)


def analyseAwayPlayersHeight(row):
    sum = 0
    for i in range(1, 12):
       new = player["player_api_id"].isin([row["away_player_"+"%s" % i]])
       sum += player[new]["height"].tolist()[0]
    return round(sum/11, 1)


def analyseHomePlayersWeight(row):
    sum = 0
    for i in range(1, 12):
       new = player["player_api_id"].isin([row["home_player_"+"%s" % i]])
       sum += player[new]["weight"].tolist()[0]
    return round(sum/11, 1)


def analyseAwayPlayersWeight(row):
    sum = 0
    for i in range(1, 12):
       new = player["player_api_id"].isin([row["away_player_"+"%s" % i]])
       sum += player[new]["weight"].tolist()[0]
    return round(sum/11, 1)

In [27]:
def analyseTeamOdd(row, string, index):
    #10 websites
    sum = 0
    sum += match["B365"+"%s" % string].tolist()[index]
    sum += match["BW"+"%s" % string].tolist()[index]
    sum += match["IW"+"%s" % string].tolist()[index]
    sum += match["LB"+"%s" % string].tolist()[index]
    sum += match["PS"+"%s" % string].tolist()[index]
    sum += match["WH"+"%s" % string].tolist()[index]
    sum += match["SJ"+"%s" % string].tolist()[index]
    sum += match["VC"+"%s" % string].tolist()[index]
    sum += match["GB"+"%s" % string].tolist()[index]
    sum += match["BS"+"%s" % string].tolist()[index]
    return round(sum/10, 2)

In [28]:
def analyseOffenseRates(row,index,string):
    new = team_attributes["team_api_id"].isin([row["%s" %string]])
    passing = team_attributes[new]["chanceCreationPassing"].tolist()[0]
    crossing = team_attributes[new]["chanceCreationCrossing"].tolist()[0]
    shooting = team_attributes[new]["chanceCreationShooting"].tolist()[0]
    return round((passing+shooting+crossing)/3, 1)

def analyseCenterRates(row,index,string):
    new = team_attributes["team_api_id"].isin([row["%s" % string]])
    dribling = team_attributes[new]["buildUpPlayDribbling"].tolist()[0]
    BUpassing = team_attributes[new]["buildUpPlayPassing"].tolist()[0]
    speed = team_attributes[new]["buildUpPlaySpeed"].tolist()[0]
    return round((dribling+BUpassing+speed)/3, 1)

def analyseDefenceRates(row,index,string):
    new = team_attributes["team_api_id"].isin([row["%s" % string]])
    agression = team_attributes[new]["defenceAggression"].tolist()[0]
    width = team_attributes[new]["defenceTeamWidth"].tolist()[0]
    pressure = team_attributes[new]["defencePressure"].tolist()[0]
    return round((agression+width+pressure)/3, 1)

In [29]:
def analyseDifGoals(row, index):
    return match["home_team_goal"].tolist()[index] - match["away_team_goal"].tolist()[index]

In [41]:
'''def generateDataframeWithAverageOveralls1():
    newListBig = []
    match_depth = match.shape[0]
    for index in range (0, 100):
    #for index in range (0, match_depth):
        newListHome = []
        newListAway = []
        for i in range(1,12):
                newListHome.append(getMostRecentOverallFromHomePlayer(index,i))
                newListAway.append(getMostRecentOverallFromAwayPlayer(index,i))

        newListBig.append([match.id.tolist()[index],calculateAverageOverallRating(newListHome) ,calculateAverageOverallRating(newListAway),
                            analyseDifGoals(match.iloc[index], index),
                            analyseOffenseRates(match.iloc[index],index, "home_team_api_id"),
                            analyseCenterRates(match.iloc[index],index, "home_team_api_id"),
                            analyseDefenceRates(match.iloc[index],index, "home_team_api_id"),
            
                              ])


    new_dataset = pd.DataFrame(newListBig, columns =[ "match_id","home_overall","away_overall", "dif_goals", 
                                                    'home_team_offense_rates','home_team_center_rates','home_team_defense_rates'
                                                   ])
    display(new_dataset)'''''

IndexError: list index out of range